*.pt
*.pth
.ipynb_checkpoints/
*.png
*.tif
*.tiff
traffic-flow/image_time_traffic_reports/*
traffic-flow/high_quality_traffic_reports/*
*.pyc
traffic-flow/__pycache__/*
traffic-flow/image_year_traffic_reports/*
